<div #templateRenderer
     id="templateRenderer"
     style="width: 100%; height: 400px; background: green;"
     (mousemove)="mouseMove($event)"
     (mouseup)="mouseUp($event)">
  <ng-container *ngFor="let templateModel of model; let i = index">
    <app-default-functionblock-node
      id="{{'model_' + i}}"
      *ngIf="templateModel.category === ''"
      [model]="templateModel"
      (mousedown)="mouseDown($event, templateModel)"
      [style.left]="templateModel.position.x"
      [style.top]="templateModel.position.y"></app-default-functionblock-node>
    <app-counter-functionblock-node
      id="{{'model_' + i}}"
      [model]="templateModel"
      (mousedown)="mouseDown($event, templateModel)"
      [style.left]="templateModel.position.x"
      [style.top]="templateModel.position.y"
      *ngIf="templateModel.category === 'test'"></app-counter-functionblock-node>
  </ng-container>
</div>
